@import "tailwindcss";

.pbmit-ihbox-style-7 .pbmit-ihbox-btn::before {
    right: 100%;
    border-bottom-right-radius: -50px;
}

.pbmit-ihbox-style-7 .pbmit-ihbox-btn::after {
    left: 100%;
    border-bottom-left-radius: -50px;
}


.pbmit-ihbox-style-7 .pbmit-ihbox-btn::before,
.pbmit-ihbox-style-7 .pbmit-ihbox-btn::after {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: 10px;
    height: 40px;
    width: 20px;
    box-shadow: 0 20px 0 0 var(--pbmit-xleb-light-bg-color);
}
